/* NATURAL BOX MODEL */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* UTILITIES */
/* hides an element on screen, but not from screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* START STYLES HERE */
/************************************************/

/* COLORS */
:root {
  --darkgreen: #0B9B45;
  --lightgreen: #8CC63F;
  --beige: #FFF8EE;
  --orange: #E67E22;
  --purple: #CB7BFF; 
  --transparent-lightgreen: rgba(140, 198, 63, .98);
}

/* GENERAL STRUCTURE */
/***********************************************/
main {
  background-color: var(--beige);
}

/* ALL PAGES */
/***********************************************/

/* TYPOGRAPHY */
h1 {
  font-family: "kepler-std", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px; 
}

h2 {
  font-size: 50px;
}

nav li {
  font-family: "kepler-std", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}


/* BUTTONS AND LINKS */
a:hover, a:active {
  color:var(--purple)
}


/* NAVIGATION */
nav {
  padding: 1.0em 0 0;
  margin: 0;
}

nav li {
  list-style: none;
  padding: 1.0em 0 0;
}

nav a {
  text-decoration: none;
  color: var(--beige);
}


/* FOOTER */
footer {
  background-color: var(--lightgreen);
  padding: 0.5em 2.0em 1.5em;
  border-top: solid black 1.0px;
}

/***********************************************/
/* HEADER (WIREFRAME, WEB APP, TYPOGRAPHY PAGES */
#header2 {
  background-image: url(../images/head3.webp);
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#header2 .headline {
  background-color: var(--transparent-lightgreen);
  width: 55%;
  text-align: center;
  display: flex;
  justify-content: center;
}

#wireframe .content {
  width: 100%;
  margin: 0 auto;
}

/***********************************************/
/* HOME PAGE STYLES */
/* STRUCTURE */
#home #headerHome {
  background-image: url('../images/header-img.png');
  background-size: cover;
  background-color: black;
  color: var(--beige);
  margin: 20px 0;
}

#home .overlay {
  background-color: var(--transparent-lightgreen);
}

#home h1 {
  text-align: center;
  padding: 0 0 2em;
  margin: 0;
}

#home h1 span {
  font-family: "kepler-std", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 50px;
}

/* TYPOGRAPHY */
#home .banner p {
  font-size: 20px;
  font-family: franklin-gothic-atf, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#home .about {
  background-color: var(--orange);
}

#home .about {
  font-family: franklin-gothic-atf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}

#home .box p {
  text-align: center;
  font-family: franklin-gothic-atf, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* IMAGES */
#home .about img {
  width: 45%;
}

#home .project-images img {
  width: 100%;
}

#home .project-images img:hover {
  transform: scale(1.1)
}


/***********************************************/
/* WIREFRAME PAGE STYLES */
/* STRUCTURE */
#wireframe article {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 3.0em;
}

#wireframe .content {
  background-color: var(--orange);
  width: 60%;
  padding: 2.0em 3.0em;
  margin-left: 4.0em;
}

#wireframe article h2 {
  padding: 0 0 1.5em;
  margin: 0;
}

#wireframe .content p {
  padding-top: 2.0em;
  margin: 0;
}

/* TYPOGRAPHY */

/* IMAGES */


/* IMAGE-CAROUSEL-SLIDER PLUGIN BY DAVID HERBERT ON CODEPEN */
/* https://codepen.io/davehert/pen/MWrYjZy */
#wireframe .slider {
  width: 273px;
  max-width: 800px;
  height: 520px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: solid black 0.5px;
}

#wireframe .slide {
  width: 100%;
  max-width: 800px;
  height: 520px;
  position: absolute;
  transition: all 0.5s;
}

#wireframe .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#wireframe .btn {
  width: 40px;
  height: 40px;
  border: solid black 1.0px;
  border-radius: 50%;
  z-index: 9;
  cursor: pointer;
  background-color: var(--beige);
  font-size: 20px;
  margin: 0 1.5em;
}

#wireframe .btn:hover {
  background-color: var(--orange);
}

#wireframe .btn:active {
  transform: scale(1.1);
}

#wireframe .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em;
}

/***********************************************/
/* WEBAPP PAGE STYLES */
#webapp article {
  padding: 3.0em;
  display: flex;
  align-items: center;
}

#webapp article section {
  margin: 0;
  padding: 2.0em 3.0em 0;
}

#webapp article img {
  width: 400px;
}

#webapp section p {
  margin: 0 0 1.3em;
}

/***********************************************/
/* TYPOGRAPHY PAGE STYLES */
/* STRUCTURE */
#typography article section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 3.0em;
}

#typography article section .content {
  display: flex;
  align-items: center;
}

#typography article section .text {
  display: flex;
  flex-direction: column;
}

#typography article .word, #typography article .system {
  background-color: var(--orange);
}

#typography .button {
  margin-bottom: 1.5em;
}

/* TYPOGRAPHY */
#typography h2 {
  margin: 0;
  padding-bottom: 0.5em;
}

#typography article p {
  margin-top: 0;
  padding-bottom: 1.0em;
}

/* IMAGES */
#typography article img {
  width: 500px;
  padding-right: 3.0em;
}

#typography section .img-background {
  background-color: white;
  height: 300px;
  width: 453px;
  display: flex;
  align-items: center;
  margin-right: 3.0em;
}


/***********************************************/
/* RESUME PAGE STYLES */
#resume article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.0em 0 4.0em 0;
}

#resume .download {
  margin-right: 36.4em;
}

#resume img {
  width: 70%;
  padding: 1.0em;
  border: solid black 0.5px;
  background-color: var(--orange);
  margin-top: 1.0em;
}


/***********************************************/
/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  main { 
    width: 100%;
  }

  /*******************************************************/
  /* NAVIGATION */
  nav ul {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  nav li {
    padding: 0;
  }

  /* RWD MENU PLUGIN */
  .menu-button {
    /* turn on */
    display: block;
    visibility: visible;
  }
  .menu-item {
    /* turn off */
    /* display: none; */

    /* turn off in another way in order to add transition */
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;

    /* some styling when in dropdown mode */
    text-align: right;
    width: 100%;
    padding: 0.5em 0;
  }

  /* W3SCHOOLS.COM PROJECTS DROPDOWN */
  nav .dropdown-content {
    position: absolute;
    top: 110px;
    right: 31px;
  }
  /* nav .padding {
    padding: 1.0em 0;
  } */

  /*******************************************************/
  /* HOME PAGE */
  #home nav .dropdown-content {
    top: 30px;
    right: 0;
  }
  #home .about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
  }
  #home .about img {
    width: 100%;
  }
  #home .project-images .box {
    margin: 1.0em auto;
  }

  /*******************************************************/
  /* RESUME PAGE */
  #resume nav .dropdown-content {
    top: 30px;
    right: 0;
  }
  #resume .download {
    margin-right: 13.0em;
  }

  /*******************************************************/
  /* WIREFRAME PAGE */
  #wireframe nav .dropdown-content {
    top: 30px;
    right: 0;
  }
  #header2 .headline {
    width: 85%;
  }
  #wireframe article {
    display: flex;
    align-items: center;
    padding: 3.0em 0 0;
  }
  #wireframe .content {
    margin: 0 auto;
    width: 100%;
  }

  /*******************************************************/
  /* WEB APP PAGE */
  #webapp nav .dropdown-content {
    top: 30px;
    right: 0;
  }
  #webapp article {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #webapp article section {
    padding: 1.0em 0;
  }
  #webapp span {
    padding-bottom: 0;
  }

  /*******************************************************/
  /* TYPOGRAPHY PAGE */
  #typography nav .dropdown-content {
    top: 30px;
    right: 0;
  }
  #typography article section .content {
    flex-direction: column;
  }
  #typography section p {
    margin-top: 2.0em;
    margin-bottom: 0;
    padding-right: 3.0em;
  }
  #typography .button {
    margin: 2.0em 0 0;
  }
  #typography .button:hover {
    width: 125px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* MEDIA QUERIES FROM LARGEST TO SMALLEST */
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {

} */

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {

} */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {

} */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) {

} */

/* Extra large devices (large desktops)
No media query since the extra-large breakpoint has no upper bound on its width */

.menu-dropdown {
  /* class to add to show hidden menu items on click */
  display: block;
  /* add transition */
  position: static;
  visibility: visible;
  opacity: 1;
}